footer {
  padding: 2rem 0;
}

footer ul {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer li {
  border-bottom: 1px solid var(--foreground-color);
  cursor: pointer;
}

footer li:hover,
footer li:active {
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}
