.NoteEditor {
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 1.5rem;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
  grid-area: 1 / 1 / 2 / 2;
}

textarea::-webkit-scrollbar {
  width: 0;
}

.input-area:focus {
  outline: none;
}

.input-area {
  /* border: none; */
  background-color: var(--background-color);
  color: var(--foreground-color);
  width: 100%;
  padding: 1rem 1.5rem;
  overflow: hidden;
  min-height: fit-content;
  resize: none;
  grid-area: 1 / 1 / 2 / 2;
}

.input-area::placeholder {
  color: gray;
  font-style: italic;
}

.input-area:hover::placeholder {
  color: lightgray;
}

.note-heading {
  font-size: 1.8rem;
  font-weight: bold;
  /* height: 80px; */
}

.note-paragraph {
  /* min-height: 200px; */

  font-size: 1.2rem;
  hyphens: auto;
  hyphenate-character: "-";
  text-align: justify;
}

/* [contenteditable="true"]:empty::before {
  pointer-events: none;
  display: block;
  color: grey;
  font-style: italic;
}

[contenteditable="true"]:hover:empty::before {
  color: lightgray;
  transition: 0.2s;
}

.note-heading:empty::before {
  content: "Title...";
}

.note-paragraph:empty::before {
  content: "Add your text here...";
} */
