ul.NoteArchive {
  width: 100%;
  padding: 1.6rem;
  display: block;
}

.NoteItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid gray;
  padding: 1rem 0;
}

.note-item-link {
  text-decoration: none;
  color: var(--foreground-color);
}
