.NoteEditor {
  width: 100%;
}

.input-area:focus {
  outline: none;
}

.input-area {
  border: none;
  background-color: var(--background-color);
  color: var(--foreground-color);
  width: 100%;
  padding: 1rem 1.5rem;
  overflow-y: hidden;
  resize: none;
}

.input-area::placeholder {
  color: gray;
  font-style: italic;
}

.input-area:hover::placeholder {
  color: lightgray;
}

.note-heading {
  font-size: 1.8rem;
  font-weight: bold;
}

.note-paragraph {
  padding: 1rem 1.6rem;
  font-size: 1.2rem;
  hyphens: auto;
  hyphenate-character: "-";
  text-align: justify;
}
