ul.NoteArchive {
  width: 100%;
  padding: 0 1.6rem;
  display: block;
}

header {
  text-align: center;
  padding-bottom: 3rem;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1.6rem;
}

.NoteItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid gray;
  padding: 1.5rem 0.5rem;
}

.note-item-link {
  text-decoration: none;
  color: var(--foreground-color);
}

.note-item-link h3 {
  max-width: 50%;
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-item-link:hover h3 {
  border-bottom: 1px solid var(--foreground-color);
  transition: 0.2s;
}

div.flex-container {
  padding: 1rem 1.6rem;
}

.flex-container h5:hover {
  text-decoration: underline;
  transition: 0.2s;
}
