.App {
  border: 1px solid red;
  min-height: 100vh;
  padding: 0 12rem;
}

main {
  border: 1px solid blue;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

@media (width <= 992px) {
  .App {
    padding: 0 9rem;
  }
}

@media (width <= 768px) {
  .App {
    padding: 0 5rem;
  }
}

@media (width <= 576px) {
  .App {
    padding: 0 1rem;
  }
}
