.App {
  /* border: 1px solid red; */
  min-height: 100vh;
  padding: 0 12rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

main {
  /* border: 1px solid blue; */
  display: flex;
  width: 100%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  /* border: 1px salmon solid; */
  padding: 0.5rem 0 1.5rem 0;
}

footer ul {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer li {
  border-bottom: 1px solid var(--foreground-color);
  cursor: pointer;
}

footer li:hover,
footer li:active {
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

@media (width <= 992px) {
  .App {
    padding: 0 9rem;
  }
}

@media (width <= 768px) {
  .App {
    padding: 0 5rem;
  }
}

@media (width <= 576px) {
  .App {
    padding: 0 1rem;
  }
}
