.App {
  min-height: 100vh;
  padding: 0 12rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (width <= 992px) {
  .App {
    padding: 0 9rem;
  }
}

@media (width <= 768px) {
  .App {
    padding: 0 5rem;
  }
}

@media (width <= 576px) {
  .App {
    padding: 0 1rem;
  }
}
