@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --white: #fefdfc;
  --black: #201d1e;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gentium Book Plus", serif;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #fefdfc;
  --foreground-color: #201d1e;
}

body.dark {
  --background-color: #201d1e;
  --foreground-color: #fefdfc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  text-decoration: none;
  color: var(--foreground-color);
  cursor: pointer;
}
